---
import { SITE } from '../config';
---
<header class="header">
  <div class="contenedor">
    <a href="/" class="logo">empleo<span>va</span><i></i></a>
    <nav class="nav">
      <a href="/">Inicio</a>
      <a href="/empleos">Ofertas de empleo</a>
      <a href="/guias">Guías de empleo</a>
      <a href="/sobre-nosotros">Sobre nosotros</a>
      <a href="/contacto">Contacto</a>
    </nav>
  </div>
</header>
